h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.calculator {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.display {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 10px;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: #e0e0e0;
  color: #333;
}

button:hover {
  background-color: #ccc;
}

.history {
  margin-top: 10px;
}

.history h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  font-size: 0.9em;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-history {
  font-size: 0.7em;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.clear-history:hover {
  background-color: red;
}

.operator {
  background-color: #f44336;
  color: #fff;
}

.equal {
  background-color: #4caf50;
  color: #fff;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
/* Mobile */
@media screen and (max-width: 600px) {
  .calculator {
    width: 80%;
  }

  button {
    font-size: 1em;
    padding: 8px;
  }

  .clear-history {
    font-size: 0.6em;
    padding: 4px 8px;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .calculator {
    width: 60%;
  }

  button {
    font-size: 1.2em;
    padding: 10px;
  }

  .clear-history {
    font-size: 0.7em;
    padding: 5px 10px;
  }
}

/* Laptop/Desktop */
@media screen and (min-width: 1025px) {
}
